// Variables
$primary-color: #38503F;
$secondary-color: #E5E8D6;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Breakpoints
@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
      @content;
  } 
}
@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
      @content;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: $secondary-color;
}

.main {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  @include tablet {
    padding: 2rem;
  }
  @include desktop {
    padding: 2rem 10rem;
  }

  &__heading {
    color: $primary-color;
    font-size: 5.5rem;
    padding: 1rem;
  }

  &__hr {
    color: #B7CEBE;
    width: 100%;
    margin-top: 3rem;
  }
}

.featured {
  width: 100%;

  &__label {
    font-size: 1.25rem;
    color: $primary-color;
    padding-bottom: 1rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 40rem;  
    @include tablet {
      flex-direction: row;
      height: auto;  
    }
  }

  &__image {
    background-image: url('./assets/images/image-1.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    width: 100%;
    @include tablet {
      width: 50%;
      height: auto;
    }
  }

  &__bio {
    width: 100%;
    background-color: $primary-color;
    padding: 1rem;
    @include tablet {
      padding: 4rem;
      width: 50%;
    }
  }

  &__button {
    background-color: $primary-color;
    border: none;
    border-bottom: 1px solid $secondary-color;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    &:hover {
      font-weight: bolder;
      cursor: pointer;    
      border-bottom: 2px solid $secondary-color;
    }
  }
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 40rem;
  padding-bottom: 1.5rem;
  position: relative;
  @include tablet {
    width: 32%;
  }

  &__display {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
  }

  &__image {
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45%;
    width: 100%;

    &--1 {
      background-image: url('./assets/images/image-2.png');
    }
    &--2 {
      background-image: url('./assets/images/image-3.png');
    }
    &--3 {
      background-image: url('./assets/images/image-4.png');
    }
  }

  &__bio {
    background-color: $primary-color;
    height: 55%;
    padding: 2rem;
  }

  &__category {
    padding-bottom: 1rem;
  }

  &__title {
    font-size: 2.1rem;
  }

  &__text {
    font-size: 1.25rem;
    padding: 3rem 0;
  }

  &__snippet {
    padding-top: 2rem;
  }

  &__video {
    background-color: #F5F6EC;
    color: #2D4033;
    width: fit-content;
    padding: 0.8rem 1.5rem;
    font-weight: bolder;
    position: absolute;
    right: 2rem;
  }
}

.nav {
  width: 100%;

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    @include tablet {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__item {
    text-decoration: none;
    padding: 1rem;
    color: $primary-color;
    font-size: 1.5rem;
    &:hover {
      font-weight: bolder;
      text-decoration: underline;
      cursor: pointer;    
    }
    @include desktop {
      padding: 2rem;
    }
  }
}

.active {
  font-weight: bolder;
  text-decoration: underline;
}